{% extends 'common/base.html' %}

{% block title %}Add copies{% endblock %}

{% block content %}
    <div class="container">
        <div class="items-container">
            <div class="item">
                <img src="{{ card.card.image.url }}" alt="Image of {{ card.card.name }}.">
                <p class="text-center font-weight-bold">Copies owned: {{ card.copies }}</p>
                <form method="POST" action="{% url 'add_copies' card.id %}">
                    {% csrf_token %}
                    {{ form }}
                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                    <div class="text-center">
                        <button class="btn btn-dark btn-sm mt-3">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}