{% extends 'common/base.html' %}

{% block title %}Card details{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center">
        <div class="card m-3" style="width: 18rem;">
            <img class="card-img-top" src="{{ card.image.url }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ card.name }}</h5>
                <p class="card-text text-center">Type: {{ card.card_type|title }}</p>
                <p class="card-text">Class: {{ card.get_hero_class_display }}</p>
                <p class="card-text">Mana cost: {{ card.mana_cost }}</p>
                <p class="card-text">Rarity: {{ card.rarity|title }}</p>
            </div>
        </div>
    </div>
    <div class="text-center">
        <a class="btn btn-dark btn-sm mt-2" href="javascript:history.back()">Go back</a>
    </div>
{% endblock %}