{% extends 'common/base.html' %}

{% block title %}Missing cards{% endblock %}

{% block content %}
    <div class="container">
        <div class="items-container">
            <div class="item">
                <form method="get" action="{% url 'missing' %}">
                    {{ form }}
                    <div class="text-center">
                        <button class="btn btn-primary btn-sm mt-3">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% if not cards %}
        {% if exp_set %}
            <h1>You have collected every card from {{ exp_set.name }}!</h1>
        {% else %}
            <h1>Congratulations, your collection is complete!</h1>
        {% endif %}
    {% else %}
        {% if exp_set %}
            <h1>Missing cards from {{ exp_set.name }}:</h1>
        {% else %}
            <h1>All missing cards:</h1>
        {% endif %}
    {% endif %}
    {% include 'partials/card_loop_detailed.html' %}
{% endblock %}