{% extends 'common/base.html' %}

{% block title %}Remove copies{% endblock %}

{% block content %}
    <div class="container">
        <div class="items-container">
            <div class="item">
                <img src="{{ card.card.image.url }}" alt="Image of {{ card.name }}.">
            </div>
        </div>
        <div class="items-container">
            <div class="item">
                <form method="POST" action="{% url 'remove_copies' card.id %}">
                    {% csrf_token %}
                    {{ form }}
                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                    <div class="text-center">
                        <button class="btn btn-primary btn-sm mt-3">Remove</button>
                        <a href="{% url 'user_collection' %}" class="btn btn-primary btn-sm mt-3">Go back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}