{% extends 'common/base.html' %}

{% block title %}My collection{% endblock %}

{% block content %}
    {% include 'partials/exp_set_select.html' %}
    {% if not exp_set %}
        {% if complete %}
            <h1>Congratulations, you have collected every card!</h1>
        {% else %}
            <h1>All collected cards:</h1>
        {% endif %}
    {% else %}
        {% if complete %}
            <h1>You have completed the set {{ exp_set.name }}!</h1>
        {% else %}
            <h1>Collected cards from {{ exp_set.name }}:</h1>
        {% endif %}
    {% endif %}
    {% include 'partials/card_loop_basic.html' %}
{% endblock %}