{% extends 'base.html' %}

{% block title %}All sets{% endblock %}

{% block content %}
    <h1 class="text-center">All sets</h1>
    <div class="d-flex p-3">
        {% for set in sets %}
            <div class="card m-3" style="width: 18rem;">
                <img class="card-img-top" src="{{ set.image.url }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ set.name }}</h5>
                    <p class="card-text">Cards: {{ set.card_count }}</p>
                    <a href="{% url 'card_list' set.id %}" class="btn btn-primary">See cards</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}