{% extends 'base.html' %}

{% block title %}My collection{% endblock %}

{% block content %}
    <h1 class="text-center">Total unique cards owned: {{ cards.count }}</h1>
    <div class="row">
        {% for card in cards %}
            <div class="col-md-3">
                <div class="card m-3" style="width: 18rem;">
                    <img class="card-img-top" src="{{ card.card.image.url }}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Copies owned: {{ card.copies }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}