{% extends 'common/base.html' %}
{% load user_collected_cards %}

{% block title %}Profile{% endblock %}

{% block content %}
    <div class="text-center">
        <h1>Greetings, {{ profile_user.username }}!</h1>
        <img class="rounded-circle mb-3" src="{{ profile.profile_picture.image.url }}" alt="Hero Class Image"
             width="200"
             height="200">
    </div>
    <form action="{% url 'change_picture' %}" method="get">
        <div class="text-center">
            <button class="btn btn-dark btn-sm">Change picture</button>
        </div>
    </form>
    <div class="text-center">
        {% if favourite_class %}
            <h2>Favourite class: {{ profile.get_favourite_class_display }}</h2>
            <div class="text-center mt-3">Change favourite class:</div>
        {% else %}
            <div class="text-center font-weight-bold mt-3">Set favourite class:</div>
        {% endif %}
    </div>
    <div class="container">
        <div class="items-container">
            <div class="item">
                <form method="POST" action="{% url 'user_profile' %}">
                    {% csrf_token %}
                    {{ form.favourite_class }}
                    <div class="text-center">
                        <button class="btn btn-dark btn-sm mt-3">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <h2>Total cards collected: {{ total_user_cards }}/{{ total_cards }}</h2>
    {% if user_sets %}
        <h2>My sets:</h2>
        <div class="container">
            <div class="row mt-5">
                {% for card in user_sets %}
                    <div class="col-md-4 col-sm-4">
                        <div class="card m-3">
                            <img class="card-img-top" src="{{ card.card.expansion_set.image.url }}"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ card.card.expansion_set.name }}</h5>
                                <p class="card-text">{% user_collected_cards profile_user card %}</p>
                                <div>
                                    <form action="{% url 'user_collection' %}" method="get">
                                        <input type="hidden" name="expansion_set"
                                               value="{{ card.card.expansion_set.id }}">
                                        <button class="btn btn-dark btn-sm">View collected cards</button>
                                    </form>
                                    <form action="{% url 'missing' %}" method="get">
                                        <input type="hidden" name="expansion_set"
                                               value="{{ card.card.expansion_set.id }}">
                                        <button class="btn btn-dark btn-sm mt-1">View missing cards</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}