{% extends 'common/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Login</h1>
        <div class="items-container">
            <div class="item">
                <form method="POST" action="{% url 'login_user' %}">
                    {% csrf_token %}
                    {{ login_form }}
                    {% if messages %}
                        {% for message in messages %}
                            <p class="text-center text font-weight-bold">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                    <div class="text-center">
                        <button class="btn btn-dark btn-sm mt-3">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}