{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Sign Up</h1>
        <div class="items-container">
            <div class="item">
                <form method="POST" action="{% url 'register_user' %}">
                    {% csrf_token %}
                    {{ register_form }}
                    <div class="text-center">
                        <button class="btn btn-primary mt-3">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}