{% extends 'common/base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
    <div class="text-center">
        <h1>Greetings, {{ profile_user.username }}!</h1>
        <img class="rounded-circle mb-3" src="{{ profile.profile_picture.image.url }}" alt="Hero Class Image"
             width="200"
             height="200">
    </div>
    <form action="{% url 'change_picture' %}" method="get">
        <div class="text-center">
            <button class="btn btn-primary btn-sm">Change picture</button>
        </div>
    </form>
    <div class="text-center">
        {% if favourite_class %}
            <h2>Favourite class: {{ profile.get_favourite_class_display }}</h2>
    {% endif %}
    </div>
    <div class="container">
        <p class="text-center">Set favourite class:</p>
        <div class="items-container">
            <div class="item">
                <form method="POST" action="{% url 'user_profile' %}">
                    {% csrf_token %}
                    {{ form.favourite_class }}
                    <div class="text-center">
                        <button class="btn btn-primary btn-sm mt-3">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}